@import './../base/variables.scss';
@import './../base/mixins.scss';

.main{
    .main__container{
        // padding: $padding-elemt 0;
        width: 100%;
        padding: 0;
        margin-right: 0;
        margin-left: 0;
        height: 100%;
    }
}

.content{
    padding: 0 ;
    position: relative;
    background-color: transparent;
    border-radius: 1rem;
    @include grid-rows(auto,auto,$gap-1);

    // efecto del desplazamiento a la izquierda, derecha del content cuando aparece o desaparece el aside
    margin-left: 0;
    transition: margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, margin-right 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;    
    @include desktop{
        margin-left: 33rem;
    }
}

.header--main{
    width: 100%;
    position: sticky;
    z-index: 1; 
    left: auto;
    right: 0;
    top: 0;
    // top: 2rem;
    // transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.aside{
    width: 33rem;
    // margin-top: 2rem;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    outline: 0px;

    // efecto del desplazamiento del aside al aparecer o desaparecer
    transform: translateX(-35rem);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    &.aside--float{
        transform: translateX(0);
    }
    @include desktop{
      transform: translateX(0);
    }
}

.Outlet{
    max-width: 100%;
}

.player{
    position: relative;
    // position: sticky;
    // bottom: 0;
    top: 80;
    z-index: 5;
    width: 100%;
    background-color: aqua;
    // height: 10rem;
}


