@import "./../base/variables.scss";
@import "./../base/mixins.scss";

.main {
  .main-container {
    width: 100%!important;
    padding: 0;
    margin-right: 0!important;
    margin-left: 0!important;
    height: 100%;
  }
}

.content {
  padding: 0;
  position: relative;
  background-color: transparent;
  border-radius: 1rem;
  min-height: 100vh;
  @include grid-rows(auto, auto, $gap-1);

  // efecto del desplazamiento a la izquierda, derecha del content cuando aparece o desaparece el aside
  margin-left: 0;
  transition: margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    margin-right 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  @include desktop {
    margin-left: 33rem;
  }
}

.header--main {
  width: 100%;
  position: sticky;
  z-index: 4;
  left: auto;
  right: 0;
  top: 0;
}

.aside {
  width: 18rem;
  margin-top: 0;
  position: fixed;
  top: 0;
  z-index: 5;
  outline: 0px;

  // efecto del desplazamiento del aside al aparecer o desaparecer
  transform: translateX(-35rem);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

  &.aside--float {
    transform: translateX(0);
  }
  @include telefono {
    width: 33rem;
  }
  @include desktop {
    transform: translateX(0);
  }
}

.Outlet {
  max-width: 100%;
}

.player {
  position: sticky;
  bottom: 0;
  z-index: 6;
  width: 100%;
  background-color: $color-2;
}
